<!-- About section -->
      <div class="section scrollspy section-gray-section" id="about">
        <div class="container">

          <h5 class="center-align">About NVMSA</h5>

          <div class="row">
            <div class="col s12 m10 offset-m1 l8 offset-l2 section-gray-body">
              <p>The 15th Non-Volatile Memory Systems and Applications Symposium (NVMSA) is a premier conference for new ideas and research results in the area of non-volatile memory systems and emerging memory technologies. This year, NVMSA will be held in Singapore on August 20-22, 2025. This conference is in conjunction with the International Conference on Embedded and Real-Time Computing Systems and Applications (IEEE RTCSA 2026). The conference proceedings will be included in IEEE Xplore, and indexed by EI.</p>
              <p><a href="{{site.registration-page}}">Register for the symposium!</a></p>
            </div>
          </div>


        </div>
      </div>
