<!-- Organizers section -->
      <div class="section scrollspy section-white-section" id="organizers">
        <div class="container">
          <h4 class="center-align section-white-header">Conference Organizers</h4>

          <div class="row">
            <div class="col s12 m12 l12 section-white-body">
              <p class="center">
              </p>
            </div>
          </div>

          <h5 class="left-align">General Co-chairs</h5>
          <div class="row">
            {% for organizers in site.organizers_general %}
            <a href="{{organizers.link}}">
              <div class="col s12 m6 l3">
                <div class="card hoverable">
                  <div class="card-image" style="height: 42.5px;">
                    <!-- <img class="activator portrait-img" src="{{organizers.image}}"> -->
                    <span class="card-title" id="main-title" style="width: 100%;">{{organizers.name}}</span>
                  </div>
                  <div class="card-content" id="secondary-title">
                    <span class="card-title activator" id="secondary-title-text">{{organizers.title}}</span>
                  </div>
                </div>
              </div>
            </a>
            {% endfor %}
          </div>
          
          <h5 class="left-align">Program Co-chairs</h5>
          <div class="row">
            {% for organizers in site.organizers_program %}
            <a href="{{organizers.link}}">
              <div class="col s12 m6 l3">
                <div class="card hoverable">
                  <div class="card-image" style="height: 42.5px;">
                    <!-- <img class="activator portrait-img" src="{{organizers.image}}"> -->
                    <span class="card-title" id="main-title" style="width: 100%;">{{organizers.name}}</span>
                  </div>
                  <div class="card-content" id="secondary-title">
                    <span class="card-title activator" id="secondary-title-text">{{organizers.title}}</span>
                  </div>
                </div>
              </div>
            </a>
            {% endfor %}
          </div>
          
          <h5 class="left-align">Local Chair</h5>
          <div class="row">
            {% for organizers in site.organizers_local %}
            <a href="{{organizers.link}}">
              <div class="col s12 m6 l3">
                <div class="card hoverable">
                  <div class="card-image" style="height: 42.5px;">
                    <!-- <img class="activator portrait-img" src="{{organizers.image}}"> -->
                    <span class="card-title" id="main-title" style="width: 100%;">{{organizers.name}}</span>
                  </div>
                  <div class="card-content" id="secondary-title">
                    <span class="card-title activator" id="secondary-title-text">{{organizers.title}}</span>
                  </div>
                </div>
              </div>
            </a>
            {% endfor %}
          </div>
          
          <h5 class="left-align">Finance Chair</h5>
          <div class="row">
            {% for organizers in site.organizers_finance %}
            <a href="{{organizers.link}}">
              <div class="col s12 m6 l3">
                <div class="card hoverable">
                  <div class="card-image" style="height: 42.5px;">
                    <!-- <img class="activator portrait-img" src="{{organizers.image}}"> -->
                    <span class="card-title" id="main-title" style="width: 100%;">{{organizers.name}}</span>
                  </div>
                  <div class="card-content" id="secondary-title">
                    <span class="card-title activator" id="secondary-title-text">{{organizers.title}}</span>
                  </div>
                </div>
              </div>
            </a>
            {% endfor %}
          </div>
          
          <h5 class="left-align">Registration Chair</h5>
          <div class="row">
            {% for organizers in site.organizers_registration %}
            <a href="{{organizers.link}}">
              <div class="col s12 m6 l3">
                <div class="card hoverable">
                  <div class="card-image" style="height: 42.5px;">
                    <!-- <img class="activator portrait-img" src="{{organizers.image}}"> -->
                    <span class="card-title" id="main-title" style="width: 100%;">{{organizers.name}}</span>
                  </div>
                  <div class="card-content" id="secondary-title">
                    <span class="card-title activator" id="secondary-title-text">{{organizers.title}}</span>
                  </div>
                </div>
              </div>
            </a>
            {% endfor %}
          </div>
          
          <h5 class="left-align">Publicity Co-chairs</h5>
          <div class="row">
            {% for organizers in site.organizers_publicity %}
            <a href="{{organizers.link}}">
              <div class="col s12 m6 l3">
                <div class="card hoverable">
                  <div class="card-image" style="height: 42.5px;">
                    <!-- <img class="activator portrait-img" src="{{organizers.image}}"> -->
                    <span class="card-title" id="main-title" style="width: 100%;">{{organizers.name}}</span>
                  </div>
                  <div class="card-content" id="secondary-title">
                    <span class="card-title activator" id="secondary-title-text">{{organizers.title}}</span>
                  </div>
                </div>
              </div>
            </a>
            {% endfor %}
          </div>
          
          <h5 class="left-align">Publication Chair</h5>
          <div class="row">
            {% for organizers in site.organizers_publication %}
            <a href="{{organizers.link}}">
              <div class="col s12 m6 l3">
                <div class="card hoverable">
                  <div class="card-image" style="height: 42.5px;">
                    <!-- <img class="activator portrait-img" src="{{organizers.image}}"> -->
                    <span class="card-title" id="main-title" style="width: 100%;">{{organizers.name}}</span>
                  </div>
                  <div class="card-content" id="secondary-title">
                    <span class="card-title activator" id="secondary-title-text">{{organizers.title}}</span>
                  </div>
                </div>
              </div>
            </a>
            {% endfor %}
          </div>
          
          <h5 class="left-align">Web Chair</h5>
          <div class="row">
            {% for organizers in site.organizers_web %}
            <a href="{{organizers.link}}">
              <div class="col s12 m6 l3">
                <div class="card hoverable">
                  <div class="card-image" style="height: 42.5px;">
                    <!-- <img class="activator portrait-img" src="{{organizers.image}}"> -->
                    <span class="card-title" id="main-title" style="width: 100%;">{{organizers.name}}</span>
                  </div>
                  <div class="card-content" id="secondary-title">
                    <span class="card-title activator" id="secondary-title-text">{{organizers.title}}</span>
                  </div>
                </div>
              </div>
            </a>
            {% endfor %}
          </div>
          
      </div> 
    </div>