<!-- Organizers section -->
      <div class="section scrollspy section-white-section" id="organizers">
        <div class="container">
          <h4 class="center-align section-white-header">Conference Organizers</h4>

          <div class="row">
            <div class="col s12 m12 l12 section-white-body">
              <p class="center">
              </p>
            </div>
          </div>

          <h5 class="left-align">General Co-chairs</h5>
          <div class="row">
            {% for organizers in site.organizers_general %}
            <a href="{{organizers.link}}">
              <div class="col s12 m6 l3">
                <div class="card hoverable">
                  <div class="card-image" style="height: 42.5px;">
                    <!-- <img class="activator portrait-img" src="{{organizers.image}}"> -->
                    <span class="card-title" id="main-title" style="width: 100%;">{{organizers.name}}</span>
                  </div>
                  <div class="card-content" id="secondary-title">
                    <span class="card-title activator" id="secondary-title-text">{{organizers.title}}</span>
                  </div>
                </div>
              </div>
            </a>
            {% endfor %}
          </div>
          
          <h5 class="left-align">Program Co-chairs</h5>
          <div class="row">
            {% for organizers in site.organizers_program %}
            <a href="{{organizers.link}}">
              <div class="col s12 m6 l3">
                <div class="card hoverable">
                  <div class="card-image" style="height: 42.5px;">
                    <!-- <img class="activator portrait-img" src="{{organizers.image}}"> -->
                    <span class="card-title" id="main-title" style="width: 100%;">{{organizers.name}}</span>
                  </div>
                  <div class="card-content" id="secondary-title">
                    <span class="card-title activator" id="secondary-title-text">{{organizers.title}}</span>
                  </div>
                </div>
              </div>
            </a>
            {% endfor %}
          </div>
          
          <h5 class="left-align">Local Chair</h5>
          <div class="row">
            {% for organizers in site.organizers_local %}
            <a href="{{organizers.link}}">
              <div class="col s12 m6 l3">
                <div class="card hoverable">
                  <div class="card-image" style="height: 42.5px;">
                    <!-- <img class="activator portrait-img" src="{{organizers.image}}"> -->
                    <span class="card-title" id="main-title" style="width: 100%;">{{organizers.name}}</span>
                  </div>
                  <div class="card-content" id="secondary-title">
                    <span class="card-title activator" id="secondary-title-text">{{organizers.title}}</span>
                  </div>
                </div>
              </div>
            </a>
            {% endfor %}
          </div>
          
          <h5 class="left-align">Finance Chair</h5>
          <div class="row">
            {% for organizers in site.organizers_finance %}
            <a href="{{organizers.link}}">
              <div class="col s12 m6 l3">
                <div class="card hoverable">
                  <div class="card-image" style="height: 42.5px;">
                    <!-- <img class="activator portrait-img" src="{{organizers.image}}"> -->
                    <span class="card-title" id="main-title" style="width: 100%;">{{organizers.name}}</span>
                  </div>
                  <div class="card-content" id="secondary-title">
                    <span class="card-title activator" id="secondary-title-text">{{organizers.title}}</span>
                  </div>
                </div>
              </div>
            </a>
            {% endfor %}
          </div>
          
          <h5 class="left-align">Registration Chair</h5>
          <div class="row">
            {% for organizers in site.organizers_registration %}
            <a href="{{organizers.link}}">
              <div class="col s12 m6 l3">
                <div class="card hoverable">
                  <div class="card-image" style="height: 42.5px;">
                    <!-- <img class="activator portrait-img" src="{{organizers.image}}"> -->
                    <span class="card-title" id="main-title" style="width: 100%;">{{organizers.name}}</span>
                  </div>
                  <div class="card-content" id="secondary-title">
                    <span class="card-title activator" id="secondary-title-text">{{organizers.title}}</span>
                  </div>
                </div>
              </div>
            </a>
            {% endfor %}
          </div>
          
          <h5 class="left-align">Publicity Co-chairs</h5>
          <div class="row">
            {% for organizers in site.organizers_publicity %}
            <a href="{{organizers.link}}">
              <div class="col s12 m6 l3">
                <div class="card hoverable">
                  <div class="card-image" style="height: 42.5px;">
                    <!-- <img class="activator portrait-img" src="{{organizers.image}}"> -->
                    <span class="card-title" id="main-title" style="width: 100%;">{{organizers.name}}</span>
                  </div>
                  <div class="card-content" id="secondary-title">
                    <span class="card-title activator" id="secondary-title-text">{{organizers.title}}</span>
                  </div>
                </div>
              </div>
            </a>
            {% endfor %}
          </div>
          
          <h5 class="left-align">Publication Chair</h5>
          <div class="row">
            {% for organizers in site.organizers_publication %}
            <a href="{{organizers.link}}">
              <div class="col s12 m6 l3">
                <div class="card hoverable">
                  <div class="card-image" style="height: 42.5px;">
                    <!-- <img class="activator portrait-img" src="{{organizers.image}}"> -->
                    <span class="card-title" id="main-title" style="width: 100%;">{{organizers.name}}</span>
                  </div>
                  <div class="card-content" id="secondary-title">
                    <span class="card-title activator" id="secondary-title-text">{{organizers.title}}</span>
                  </div>
                </div>
              </div>
            </a>
            {% endfor %}
          </div>
          
          <h5 class="left-align">Web Chair</h5>
          <div class="row">
            {% for organizers in site.organizers_web %}
            <a href="{{organizers.link}}">
              <div class="col s12 m6 l3">
                <div class="card hoverable">
                  <div class="card-image" style="height: 42.5px;">
                    <!-- <img class="activator portrait-img" src="{{organizers.image}}"> -->
                    <span class="card-title" id="main-title" style="width: 100%;">{{organizers.name}}</span>
                  </div>
                  <div class="card-content" id="secondary-title">
                    <span class="card-title activator" id="secondary-title-text">{{organizers.title}}</span>
                  </div>
                </div>
              </div>
            </a>
            {% endfor %}
          </div>

          <h5 class="left-align">Programme Committee</h5>
          <div class="row">
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-white-body">
              <table class="papers striped programme-committee">
                <tbody>
                  <tr>
                    <td><b>Sang-Hoon Kim</b></td>
                    <td>Ajou University</td>
                  </tr>
                  <tr>
                    <td><b>Hao Zhang</b></td>
                    <td>Tsinghua University</td>
                  </tr>
                  <tr>
                    <td><b>Kecheng Huang</b></td>
                    <td>Beijing Institute of Technology (Zhuhai)</td>
                  </tr>
                  <tr>
                    <td><b>Xuanyao Fong</b></td>
                    <td>National University of Singapore</td>
                  </tr>
                  <tr>
                    <td><b>Eishi Arima</b></td>
                    <td>Technical University of Munich</td>
                  </tr>
                  <tr>
                    <td><b>Liang Shi</b></td>
                    <td>East China Normal University</td>
                  </tr>
                  <tr>
                    <td><b>Shuo-Han Chen</b></td>
                    <td>National Yang Ming Chiao Tung University</td>
                  </tr>
                  <tr>
                    <td><b>Yu-Pei Liang</b></td>
                    <td>CCU</td>
                  </tr>
                  <tr>
                    <td><b>Changhee Jung</b></td>
                    <td>Purdue University</td>
                  </tr>
                  <tr>
                    <td><b>Yina Lv</b></td>
                    <td>Xiamen University</td>
                  </tr>
                  <tr>
                    <td><b>Jaehyun Hwang</b></td>
                    <td>Sungkyunkwan University</td>
                  </tr>
                  <tr>
                    <td><b>Chien-Chung Ho</b></td>
                    <td>National Cheng Kung University</td>
                  </tr>
                  <tr>
                    <td><b>Zili Shao</b></td>
                    <td>The Chinese University of Hong Kong</td>
                  </tr>
                  <tr>
                    <td><b>Si Wu</b></td>
                    <td>The Chinese University of Hong Kong (CUHK)</td>
                  </tr>
                  <tr>
                    <td><b>Huichuan Zheng</b></td>
                    <td>Tsinghua University</td>
                  </tr>
                  <tr>
                    <td><b>Wook-Hee Kim</b></td>
                    <td>Konkuk University</td>
                  </tr>
                  <tr>
                    <td><b>Ryuichi Sakamoto</b></td>
                    <td>Tokyo Institute of Technology</td>
                  </tr>
                  <tr>
                    <td><b>Youtao Zhang</b></td>
                    <td>University of Pittsburgh</td>
                  </tr>
                  <tr>
                    <td><b>Li-Pin Chang</b></td>
                    <td>National Yang Ming Chiao Tung University</td>
                  </tr>
                  <tr>
                    <td><b>Donghyun Kang</b></td>
                    <td>Dongguk University</td>
                  </tr>
                  <tr>
                    <td><b>Chenlin Ma</b></td>
                    <td>Shenzhen University</td>
                  </tr>
                  <tr>
                    <td><b>Chundong Wang</b></td>
                    <td>ShanghaiTech University</td>
                  </tr>
                  <tr>
                    <td><b>Zhu Wang</b></td>
                    <td>Huawei Technologies Co.,Ltd.</td>
                  </tr>
                  <tr>
                    <td><b>Xueqing Li</b></td>
                    <td>Tsinghua University</td>
                  </tr>
                  <tr>
                    <td><b>Jen-Wei Hsieh</b></td>
                    <td>National Taiwan University of Science and Technology</td>
                  </tr>
                  <tr>
                    <td><b>Patrick P. C. Lee</b></td>
                    <td>The Chinese University of Hong Kong</td>
                  </tr>
                  <tr>
                    <td><b>Tao Xie</b></td>
                    <td>San Diego State University</td>
                  </tr>
                  <tr>
                    <td><b>Yuan-Hao Chang</b></td>
                    <td>National Taipei University of Technology</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          
      </div> 
    </div>
