<!-- Papers section -->
      <div class="section scrollspy section-white-section" id="papers">
        <div class="container">
          <h4 class="center-align section-white-header">Call for Papers</h4>

          <div class="row">
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-white-body">
              <p>
                <b>Important Dates (AoE time):</b>
              </p>
              <ul class="browser-default">
                <li>Abstract Submission Deadline: <span style="text-decoration: line-through;">April 20, 2026</span> <b style="color: red;white-space: nowrap;">May 4, 2026</b></li>
                <li>Full Paper Submission Deadline: <span style="text-decoration: line-through;">April 27, 2026</span> <b style="color: red;white-space: nowrap;">May 4, 2026</b></li>
                <li>Acceptance Notification: <span style="text-decoration: line-through;">May 20, 2026</span> <b style="color: red;white-space: nowrap;">May 27, 2026</b></li>
                <li>Camera-Ready Submission Deadline: <span style="text-decoration: line-through;">May 27, 2026</span> <b style="color: red;white-space: nowrap;">June 3, 2026</b></li>
                <li>Conference Date: <b>August 11-13, 2026</b></li>
              </ul>
              <p>
                NVMSA serves as a platform focusing on non-volatile memory systems and emerging memory technologies. It offers a unique opportunity for global researchers across various domains to discuss, share insights, and foster potential collaborations, thus accelerating advancements in NVM design and applications. NVMSA 2026 will present a technical program aimed at engaging participants from academia and industry. We welcome paper submissions covering diverse topics related to NVMs and associated areas, with a broad scope that includes, but is not limited to:
              </p>
              <p>
                <b>Device/Circuit Design of NVM Systems:</b>
              </p>
              <ul class="browser-default">
                <li>Emerging NVM Circuit Design</li>
                <li>NVM Device Design</li>
                <li>Error Correction for NVMs</li>
                <li>Non-volatile Logic Circuit</li>
                <li>Low Power NVM Circuit</li>
                <li>Latency and throughput in Real-Time Databases</li>
              </ul>
              <p>
                <b>NVM Architecture and Systems:</b>
              </p>
              <ul class="browser-default">
                <li>Non-volatile Registers</li>
                <li>Non-volatile Memory Architectures</li>
                <li>Non-volatile Cache Design</li>
                <li>NVM Neuromorphic Architectures</li>
                <li>NVDIMM</li>
              </ul>
              <p>
                <b>NVM Storage:</b>
              </p>
              <ul class="browser-default">
                <li>Operating System Support for NVM</li>
                <li>Compiler Optimization for NVM</li>
                <li>NVM-based Storage Software</li>
                <li>NVM-based Databases</li>
                <li>NVM Controller Design</li>
              </ul>
              <p>
                <b>NVM Applications:</b>
              </p>
              <ul class="browser-default">
                <li>In-memory Computing</li>
                <li>NVM for Big Data Analytics</li>
                <li>NVM in Mobile Healthcare Applications</li>
                <li>NVM in Wearable Applications</li>
                <li>NVM in the Internet of Things</li>
              </ul>
              <p>
                Both research and industry track papers are solicited. Please make sure that your paper satisfies all the following requirements before being submitted.
              </p>
              <ul class="browser-default">
                <li>All papers must be submitted electronically in PDF format.</li>
                <li>The submitted manuscripts must describe original work not previously published and not concurrently submitted elsewhere.</li>
                <li>Submissions must be <b>no more than 6 pages</b> in the <a href="https://www.ieee.org/conferences_events/conferences/publishing/templates.html">IEEE conference proceedings format</a> (two-column, single-space), including all text, figures, tables, appendices, references, etc.</li>
                <li>Each paper will be peer reviewed by the program committee members. Depending on the number of accepted papers, authors of accepted papers may be asked to present either a short or long presentation. It is important to note that authors whose papers are accepted for a short presentation do not need to shorten the paper.</li>
                <li>Accepted papers will be submitted for possible inclusion into IEEE Xplore subject to meeting IEEE Xplore's scope and quality requirements.</li>
              </ul>
              <p>
                <b>Please submit your paper through the <a href="{{site.upload-form}}">submission site</a>.</b>
              </p>
              <p>
                The review process is <b>single-blinded</b>, meaning that the names and affiliations of the authors are visible to the reviewers through the Paper Management System.
              </p>
              <p>
                See the <a href="https://www.computer.org/web/cs-cps/authors">Computer Society Paper Submission Policies</a> for more details.
              </p>
            </div>
          </div>
        </div>

        <div class="container">
          <h4 class="center-align section-white-header">Call for Posters</h4>

          <div class="row">
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-white-body">
              <p>
                The NVMSA 2026 Posters session provides an opportunity to present early-stage work and receive feedback from both the non-volatile memory systems community and the real-time/embedded systems community. We invite both research and industry presentations in all areas listed in the call for papers. This year, for the first time, a Best Poster will be awarded!
              </p>
              <p>
                <b>Important Dates (AoE time):</b>
              </p>
              <ul class="browser-default">
                <li>Poster Submission Deadline: <span style="text-decoration: line-through;">April 30, 2026</span> <b style="color: red;white-space: nowrap;">June 3, 2026</b></li>
                <li>Acceptance Notification: <span style="text-decoration: line-through;">May 20, 2026</span> <b style="color: red;white-space: nowrap;">June 13, 2026</b></li>
                <li>Camera-Ready Submission Deadline: <span style="text-decoration: line-through;">May 27, 2026</span> <b style="color: red;white-space: nowrap;">June 18, 2026</b></li>
                <li>Conference Date: <b>August 11-13, 2026</b></li>
              </ul>
              <p>
                <b>Abstract Submission Guidelines:</b>
              </p>
              <ul class="browser-default">
                <li>Extended abstracts have <b>at most 2 pages</b> of technical content, including all text, figures, tables, appendices, references, etc.</li>
                <li>The submitted extended abstracts are subject to <b>single-blind</b> reviews.</li>
                <li>Authors should use an IEEE two-column conference style with 10pt font size, on US Letter paper size according to the <a href="https://www.ieee.org/conferences/publishing/templates">IEEE conference paper proceedings format</a>.</li>
                <li>Please add a "Poster:" prefix to your title.</li>
                <li>Accepted posters will be included in the proceedings of NVMSA 2026.</li>
              </ul>
              <p>
                <b>Please submit your paper through the <a href="{{site.upload-form}}">submission site</a>.</b>
              </p>
              <p>
                <b>Poster Track from Regular Submissions:</b>
              </p>
              <ul class="browser-default">
                <li>Based on reviewer feedback, the organizers may invite a subset of rejected regular-paper submissions to transfer to the poster track.</li>
                <li>Invited authors may then decide whether they would like to submit their work to the poster track.</li>
              </ul>
              <p>
                <b>No Show Policy:</b>
              </p>
              <p>
                For each accepted paper, at least one unique author must register for NVMSA'26 at the full registration rate (i.e., non-student) for the full/short conference paper to appear in the proceedings. If any author does not give a talk at the conference, the paper will <b>*NOT*</b> be included in IEEE Xplore nor EI indexed. Any alternative arrangements require approval by the program chairs. <b>The default policy does not permit online video presentations.</b> NVMSA fosters an environment where speakers and attendees interact directly for discussions.
              </p>
            </div>
          </div>
        </div>

        <div class="container" style="text-align:center">
          <a href="{{site.upload-form}}" class="btn-large" style="font-weight: bold; background-color: {{site.color.primary-dark}}">Submit paper</a>
        </div>
      </div>