<!-- Papers section -->
      <div class="section scrollspy section-white-section" id="papers">
        <div class="container">
          <h4 class="center-align section-white-header">Call for Papers</h4>

          <div class="row">
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-white-body">
              <p>
                <b>Important Dates:</b>
              </p>
              <ul class="browser-default">
                <li>Abstract Submission Deadline: <b>TBD</b></li>
                <li>Full Paper Submission Deadline: <b>TBD</b></li>
                <li>Acceptance Notification: <b>TBD</b></li>
                <li>Camera-Ready Submission Deadline: <b>TBD</b></li>
                <li>Conference Date: <b>Augest 11-13, 2026</b></li>
              </ul>
              <p>
                NVMSA serves as a platform focusing on non-volatile memory systems and emerging memory technologies. It offers a unique opportunity for global researchers across various domains to discuss, share insights, and foster potential collaborations, thus accelerating advancements in NVM design and applications. NVMSA 2026 will present a technical program aimed at engaging participants from academia and industry. We welcome paper submissions covering diverse topics related to NVMs and associated areas, with a broad scope that includes, but is not limited to:
              </p>
              <p>
                <b>Device/Circuit Design of NVM Systems:</b>
              </p>
              <ul class="browser-default">
                <li>Emerging NVM Circuit Design</li>
                <li>NVM Device Design</li>
                <li>Error Correction for NVMs</li>
                <li>Non-volatile Logic Circuit</li>
                <li>Low Power NVM Circuit</li>
                <li>Latency and throughput in Real-Time Databases</li>
              </ul>
              <p>
                <b>NVM Architecture and Systems:</b>
              </p>
              <ul class="browser-default">
                <li>Non-volatile Registers</li>
                <li>Non-volatile Memory Architectures</li>
                <li>Non-volatile Cache Design</li>
                <li>NVM Neuromorphic Architectures</li>
                <li>NVDIMM</li>
              </ul>
              <p>
                <b>NVM Storage:</b>
              </p>
              <ul class="browser-default">
                <li>Operating System Support for NVM</li>
                <li>Compiler Optimization for NVM</li>
                <li>NVM-based Storage Software</li>
                <li>NVM-based Databases</li>
                <li>NVM Controller Design</li>
              </ul>
              <p>
                <b>NVM Applications:</b>
              </p>
              <ul class="browser-default">
                <li>In-memory Computing</li>
                <li>NVM for Big Data Analytics</li>
                <li>NVM in Mobile Healthcare Applications</li>
                <li>NVM in Wearable Applications</li>
                <li>NVM in the Internet of Things</li>
              </ul>
              <p>
                Both research and industry track papers are solicited. Please make sure that your paper satisfies all the following requirements before being submitted.
              </p>
              <ul class="browser-default">
                <li>All papers must be submitted electronically in PDF format.</li>
                <li>The submitted manuscripts must describe original work not previously published and not concurrently submitted elsewhere.</li>
                <li>Submissions must be <b>no more than 6 pages</b> in the <a href="https://www.ieee.org/conferences_events/conferences/publishing/templates.html">IEEE conference proceedings format</a> (two-column, single-space).</li>
                <li>Each paper will be peer reviewed by the program committee members. Depending on the number of accepted papers, authors of accepted papers may be asked to present either a short or long presentation. It is important to note that authors whose papers are accepted for a short presentation do not need to shorten the paper.</li>
                <li>Accepted papers will be submitted for inclusion into IEEE Xplore subject to meeting IEEE Xplore's scope and quality requirements.</li>
              </ul>
              <p>
                <b>Please submit your paper through the <a href="">submission site</a>.</b>
              </p>
              <p>
                The review process is <b>single-blinded</b>, meaning that the names and affiliations of the authors are visible to the reviewers through the Paper Management System.
              </p>
              <p>
                See the <a href="https://www.computer.org/web/cs-cps/authors">Computer Society Paper Submission Policies</a> for more details.
              </p>
              <p>
                <b>No Show Policy:</b>
              </p>
              <p>
                For each accepted paper, one of the author(s) is required to register and attend the conference to present the work. If any author does not give a talk at the conference, the paper will <b>*NOT*</b> be included in IEEE Xplore nor EI indexed. Any alternative arrangements require approval by the program chairs. <b>The default policy does not permit online video presentations.</b> NVMSA fosters an environment where speakers and attendees interact directly for discussions.
              </p>
            </div>
            <div class="container" style="text-align:center">
              <a href="{{site.upload-form}}" class="btn-large" style="font-weight:bold; background-color: {{site.color.primary-dark}}">Submit paper</a>
            </div>
          </div>
        </div>
      </div>