<!-- Workshop Policy section -->
      <div class="section scrollspy section-gray-section" id="policy">
        <div class="container">
          <h4 class="center-align"><b>Registration Policy</b></h4>

          <div class="row">
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-gray-body">
              <ul class="registration-policy">
                <li>At least one unique author must register for NVMSA'26 at the full registration rate (i.e., non-student) for the full/short conference paper to appear in the proceedings. For student demo/poster presenter without a conference paper, a student registration can cover a demo/poster abstract.&nbsp;If you have already registered for NVMSA 2026 and find that you are unable to attend the conference, please notify NVMSA 2026 Registration Chair in writing to <a href="mailto:rtcsa.nvmsa@gmail.com" class="email-link">rtcsa.nvmsa@gmail.com</a> to cancel your registration and request a refund if applicable.&nbsp;</li>
                <li>Cancellation deadline: <span class="highlight">&nbsp;July 12th, 2026 AoE</span> in terms of the receipt time of the request email.</li>
                <li>Cancellation fee:
                  <ul>
                    <li>50% of the registration fee before the cancellation deadline (July 12th 2026 AoE);</li>
                    <li>100% of the registration fee after the cancellation deadline (i.e., no refund).</li>
                  </ul>
                </li>
                <li>All refunds will be made after the symposium.</li>
              </ul>

              <div class="registration-note">
                <strong>Note:</strong> All dates are in Anywhere on Earth (AoE) time zone. Please ensure your registration is completed before the deadline to enjoy early bird rates.
              </div>
            </div>
          </div>
        </div>
      </div>
