<!-- Workshop Registration section -->
      <div class="section scrollspy section-white-section" id="registration">
        <div class="container">
          <div class="row">
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-white-body">
              <h4 class="center-align"><b>Registration Fee</b></h4>
              <p class="center-align registration-subtitle">NVMSA 2026 Main Conference</p>

              <table class="striped responsive-table registration-table">
                <thead>
                  <tr>
                    <th colspan="2">Category</th>
                    <th colspan="2">Author<br><span>July 11<sup>th</sup> 2026</span></th>
                    <th colspan="2">Early<br><span>July 11<sup>th</sup> 2026</span></th>
                    <th colspan="2">Late &amp; On-site<br><span>Aug 12<sup>th</sup> 2026</span></th>
                  </tr>
                  <tr>
                    <th colspan="2"></th>
                    <th>HKD</th>
                    <th>RMB</th>
                    <th>HKD</th>
                    <th>RMB</th>
                    <th>HKD</th>
                    <th>RMB</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td rowspan="2" class="category-cell">General</td>
                    <td>Member of IEEE</td>
                    <td class="price">5070 <span class="usd-price">(~USD 650)</span></td>
                    <td class="price">4400</td>
                    <td class="price">5070 <span class="usd-price">(~USD 650)</span></td>
                    <td class="price">4400</td>
                    <td class="price">5850 <span class="usd-price">(~USD 750)</span></td>
                    <td class="price">5100</td>
                  </tr>
                  <tr>
                    <td>Non-member</td>
                    <td class="price">5850 <span class="usd-price">(~USD 750)</span></td>
                    <td class="price">5100</td>
                    <td class="price">5850 <span class="usd-price">(~USD 750)</span></td>
                    <td class="price">5100</td>
                    <td class="price">7020 <span class="usd-price">(~USD 900)</span></td>
                    <td class="price">6100</td>
                  </tr>
                  <tr>
                    <td rowspan="2" class="category-cell">Student</td>
                    <td>Member of IEEE</td>
                    <td class="price">3900 <span class="usd-price">(~USD 500)</span></td>
                    <td class="price">3400</td>
                    <td class="price">3900 <span class="usd-price">(~USD 500)</span></td>
                    <td class="price">3400</td>
                    <td class="price">4290 <span class="usd-price">(~USD 550)</span></td>
                    <td class="price">3700</td>
                  </tr>
                  <tr>
                    <td>Non-member</td>
                    <td class="price">4290 <span class="usd-price">(~USD 550)</span></td>
                    <td class="price">3700</td>
                    <td class="price">4290 <span class="usd-price">(~USD 550)</span></td>
                    <td class="price">3700</td>
                    <td class="price">5070 <span class="usd-price">(~USD 650)</span></td>
                    <td class="price">4400</td>
                  </tr>
                  <tr>
                    <td colspan="2" class="category-cell">Life Member</td>
                    <td class="price">2730 <span class="usd-price">(~USD 350)</span></td>
                    <td class="price">2400</td>
                    <td class="price">2730 <span class="usd-price">(~USD 350)</span></td>
                    <td class="price">2400</td>
                    <td class="price">3510 <span class="usd-price">(~USD 450)</span></td>
                    <td class="price">3000</td>
                  </tr>
                </tbody>
              </table>

              <h5 class="registration-section-title">Extra Purchase</h5>
              <table class="striped responsive-table registration-table extra-table">
                <tbody>
                  <tr>
                    <td>Extra pages</td>
                    <td>HKD 780 <span class="usd-price">(~USD 100)</span>/page, RMB 700/page<br><span class="muted">(max 2 pages for full paper, and 1 page for short paper)</span></td>
                  </tr>
                  <tr>
                    <td>Additional Reception Ticket</td>
                    <td>HKD 780 <span class="usd-price">(~USD 100)</span>, RMB 700</td>
                  </tr>
                  <tr>
                    <td>Additional Banquet Ticket</td>
                    <td>HKD 780 <span class="usd-price">(~USD 100)</span>, RMB 700</td>
                  </tr>
                  <tr>
                    <td>One-day Ticket</td>
                    <td>HKD 1560 <span class="usd-price">(~USD 200)</span>, RMB 1200</td>
                  </tr>
                </tbody>
              </table>

              <h5 class="registration-section-title">Workshop</h5>
              <table class="striped responsive-table registration-table extra-table">
                <tbody>
                  <tr>
                    <td>Aoshan Forum - Intelligent Computing<br><span class="muted">August 13-14, 2026</span></td>
                    <td>USD 480, or RMB 3238</td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
