<!-- Workshop Payment Info section -->
      <div class="section scrollspy section-white-section" id="payment-info">
        <div class="container">
          <h4 class="center-align payment-info-title"><b>Payment Information for Registrants from Mainland China</b></h4>

          <div class="row">
            <div class="col s12 m10 offset-m1 l8 offset-l2 section-white-body">
              <table class="striped payment-info-table">
                <tbody>
                  <tr>
                    <th>Name</th>
                    <td>青岛瑞航文化科技有限公司</td>
                  </tr>
                  <tr>
                    <th>Unified Social Credit Code</th>
                    <td>91370282MAECH0HW64</td>
                  </tr>
                  <tr>
                    <th>Address and Phone</th>
                    <td>山东省青岛市即墨区环秀街道青石路210内6号-3<br>18205325885</td>
                  </tr>
                  <tr>
                    <th>Bank and Account</th>
                    <td>中国建设银行股份有限公司即墨支行<br>37150199760600005541</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
