<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <header>
      {% include workshop_nav.html %}
    </header>
    <main>
      {% include workshop_banner.html %}
      {% include infoline.html %}
      {% include workshop_about.html %}
      {% include workshop_registration.html %}
      {% include workshop_policy.html %}
      {% include workshop_payment_info.html %}
      {% include sponsors.html %}
    </main>
    <footer class="page-footer" style="background-color: {{site.color.primary-dark}}">
    </footer>
    {% include js.html %}
  </body>
</html>
